.bod-btn {
  display: inline-block;
  vertical-align: top;
  line-height: 1.5;
  padding: 8px 20px;
  margin: 4px 0;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.1);
}
[class^="bod-"][class*=" ratio_"]:before {
  content: '';
  display: block;
}
[class^="bod-"].ratio_2x1:before {
  padding-top: 50%;
}
[class^="bod-"].ratio_3x2:before {
  padding-top: 66.6666%;
}
[class^="bod-"].ratio_4x3:before {
  padding-top: 75%;
}
[class^="bod-"].ratio_1x1:before {
  padding-top: 100%;
}
[class^="bod-"].ratio_3x4:before {
  padding-top: 125%;
}
[class^="bod-"].ratio_2x3:before {
  padding-top: 150%;
}
[class^="bod-"].ratio_1x2:before {
  padding-top: 200%;
}
[class^="bod-"] [class^="bod-"][class*=" ratio_"] > [class$="-h"],
[class^="bod-"] [class^="bod-"][class*=" ratio_"] > [class*="-h "] {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.easing_easeInOutExpo .bod-flipbox-hh,
.easing_easeInOutExpo .bod-flipbox-hhh,
.easing_easeInOutExpo .bod-flipbox-front,
.easing_easeInOutExpo .bod-flipbox-back,
.easing_easeInOutExpo .bod-flipbox-xflank,
.easing_easeInOutExpo .bod-flipbox-yflank,
.easing_easeInOutExpo .bod-ib-image,
.easing_easeInOutExpo .bod-ib-content,
.easing_easeInOutExpo .bod-ib-content:before,
.easing_easeInOutExpo .bod-ib-content-h,
.easing_easeInOutExpo .bod-ib-title,
.easing_easeInOutExpo .bod-ib-desc {
  -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
}
.easing_easeInOutCirc .bod-flipbox-hh,
.easing_easeInOutCirc .bod-flipbox-hhh,
.easing_easeInOutCirc .bod-flipbox-front,
.easing_easeInOutCirc .bod-flipbox-back,
.easing_easeInOutCirc .bod-flipbox-xflank,
.easing_easeInOutCirc .bod-flipbox-yflank,
.easing_easeInOutCirc .bod-ib-image,
.easing_easeInOutCirc .bod-ib-content,
.easing_easeInOutCirc .bod-ib-content:before,
.easing_easeInOutCirc .bod-ib-content-h,
.easing_easeInOutCirc .bod-ib-title,
.easing_easeInOutCirc .bod-ib-desc {
  -webkit-transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.easing_easeOutBack .bod-flipbox-hh,
.easing_easeOutBack .bod-flipbox-hhh,
.easing_easeOutBack .bod-flipbox-front,
.easing_easeOutBack .bod-flipbox-back,
.easing_easeOutBack .bod-flipbox-xflank,
.easing_easeOutBack .bod-flipbox-yflank,
.easing_easeOutBack .bod-ib-image,
.easing_easeOutBack .bod-ib-content,
.easing_easeOutBack .bod-ib-content:before,
.easing_easeOutBack .bod-ib-content-h,
.easing_easeOutBack .bod-ib-title,
.easing_easeOutBack .bod-ib-desc {
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.animated_bounceIn,
.animated_fadeIn,
.animated_fadeOut,
.animated_flipInX,
.animated_flipOutX,
.animated_zoomIn {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated_bounceIn,
.animated_flipInX,
.animated_flipOutX {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
}
@-webkit-keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
  }
}
@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
.animated_bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animated_fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.animated_fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
@-webkit-keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  to {
    -webkit-transform: perspective(400px);
  }
}
@keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }
  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  to {
    transform: perspective(400px);
  }
}
.animated_flipInX {
  transform-origin: 50% 0%;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
}
@-webkit-keyframes flipOutX {
  from {
    -webkit-transform: perspective(400px);
  }
  30% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1;
  }
  to {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
}
@keyframes flipOutX {
  from {
    transform: perspective(400px);
  }
  30% {
    transform: perspective(400px) rotate3d(1, 0, 0, 20deg);
    opacity: 1;
  }
  to {
    transform: perspective(400px) rotate3d(1, 0, 0, -90deg);
    opacity: 0;
  }
}
.animated_flipOutX {
  transform-origin: 50% 100%;
  -webkit-animation-name: flipOutX;
  animation-name: flipOutX;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
}
@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
.animated_zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}



.bod-popup.align_left {
  text-align: left;
  float: left;
  margin-right: 0.5em;
}
.bod-popup.align_center {
  text-align: center;
}
.bod-popup.align_right {
  text-align: right;
  float: right;
  margin-left: 0.5 em;
}
.bod-popup-trigger img {
  vertical-align: top;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.bod-popup-trigger:hover img {
  opacity: 0.75;
}
.bod-popup-overlay,
.bod-popup-wrap {
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
}
.bod-popup-overlay.pos_absolute,
.bod-popup-wrap.pos_absolute {
  position: absolute;
}
.bod-popup-overlay.pos_fixed,
.bod-popup-wrap.pos_fixed {
  position: fixed;
}
.bod-popup-overlay {
  z-index: 10001;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0;
}
.bod-popup-overlay.active {
  opacity: 1;
}
.bod-popup-wrap {
  cursor: pointer;
  z-index: 10002;
}
.bod-popup-wrap.pos_fixed {
  overflow-x: hidden;
  overflow-y: auto;
}
.bod-popup-closer {
  position: fixed;
  top: 0;
  right: 0;
  text-align: center;
  font-weight: normal;
  line-height: 76px;
  height: 80px;
  width: 80px;
  cursor: pointer;
  color: #fff;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0;
}
.bod-popup-closer:before {
  content: '\00D7';
  font-size: 60px;
}
@media (max-width: 600px) {
  .bod-popup-closer {
    line-height: 48px;
    height: 50px;
    width: 50px;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .bod-popup-closer:before {
    font-size: 40px;
  }
}
.bod-popup-box.active + .bod-popup-closer {
  opacity: 0.33;
}
.bod-popup-box.active + .bod-popup-closer:hover {
  opacity: 1;
}
.bod-popup-box {
  position: absolute;
  top: 0;
  left: 50%;
  cursor: default;
}
.bod-popup-box-h {
  height: 100%;
  overflow: hidden;
  border-radius: inherit;
}
.bod-popup-box-closer {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  font-weight: normal;
  line-height: 76px;
  height: 80px;
  width: 80px;
  cursor: pointer;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0.33;
}
.bod-popup-box-closer:before {
  content: '\00D7';
  font-size: 60px;
}
.bod-popup-box-closer:hover {
  opacity: 1;
}
.bod-popup-box-title {
  font-size: 1.15em;
  line-height: 1.5;
  font-weight: bold;
  padding: 15px 25px;
}
.bod-popup-box-content {
  overflow: hidden;
  height: 100%;
  padding: 40px;
}
.bod-popup-box-content img {
  vertical-align: top;
}
.bod-popup-box-content iframe {
  vertical-align: top;
}
.bod-popup-box-content h1,
.bod-popup-box-content h2,
.bod-popup-box-content h3,
.bod-popup-box-content h4,
.bod-popup-box-content h5,
.bod-popup-box-content h6 {
  color: inherit;
}
.bod-popup-box.paddings_none .bod-popup-box-content {
  padding: 0 !important;
}
.bod-popup-box.size_s {
  width: 400px;
  margin-left: -200px;
  padding: 25px 0;
}
.bod-popup-box.size_m {
  width: 600px;
  margin-left: -300px;
  padding: 25px 0;
}
@media (max-width: 700px) {
  .bod-popup-box.size_m {
    left: 50px;
    right: 50px;
    width: auto;
    margin-left: 0;
  }
  .bod-popup-box.size_m + .bod-popup-closer {
    width: 50px;
  }
}
.bod-popup-box.size_l {
  width: 800px;
  margin-left: -400px;
  padding: 25px 0;
}
.bod-popup-box.size_l .bod-popup-box-content {
  padding: 50px;
}
@media (max-width: 900px) {
  .bod-popup-box.size_l {
    left: 50px;
    right: 50px;
    width: auto;
    margin-left: 0;
  }
  .bod-popup-box.size_l + .bod-popup-closer {
    width: 50px;
  }
}
.bod-popup-box.size_xl {
  width: 1000px;
  margin-left: -500px;
  padding: 25px 0;
}
.bod-popup-box.size_xl .bod-popup-box-content {
  padding: 50px;
}
@media (max-width: 1100px) {
  .bod-popup-box.size_xl {
    left: 50px;
    right: 50px;
    width: auto;
    margin-left: 0;
  }
  .bod-popup-box.size_xl + .bod-popup-closer {
    width: 50px;
  }
}
.bod-popup-box.size_f {
  left: 0;
  right: 0;
}
.bod-popup-box.size_f .bod-popup-box-content {
  min-height: 100vh;
}
.bod-popup-box.size_f.paddings_none + .bod-popup-closer {
  background-color: rgba(0, 0, 0, 0.8);
}
@media (min-width: 601px) {
  .bod-popup-box.size_f .bod-popup-box-title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 25px 80px 25px 40px;
    font-size: 20px;
    line-height: 30px;
  }
  .bod-popup-box.size_f.paddings_none .bod-popup-box-title {
    position: static;
  }
  .bod-popup-box.size_f .bod-popup-box-content {
    padding: 100px 5% 5%;
  }
  .bod-popup-box.size_f .bod-popup-box-title + .bod-popup-box-content {
    padding-top: calc(5% + 80px);
  }
  .bod-popup-box.size_f:not(.paddings_none) .bod-popup-box-closer {
    display: block;
  }
  .bod-popup-box.size_f:not(.paddings_none) + .bod-popup-closer {
    display: none;
  }
}
@media (max-width: 600px) {
  .bod-popup-box.size_s,
  .bod-popup-box.size_m,
  .bod-popup-box.size_l,
  .bod-popup-box.size_xl {
    left: 0;
    right: 0;
    width: auto;
    padding: 0;
    margin: 0;
  }
  .bod-popup-box-title {
    line-height: 20px;
    padding-right: 55px;
  }
  .bod-popup-box-content {
    padding: 25px !important;
  }
}
.bod-popup-box.animation_fadeIn .bod-popup-box-h {
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.bod-popup-box.animation_fadeIn.active .bod-popup-box-h {
  opacity: 1;
}
.bod-popup-box.animation_scaleUp .bod-popup-box-h {
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.bod-popup-box.animation_scaleUp.active .bod-popup-box-h {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.bod-popup-box.animation_scaleDown .bod-popup-box-h {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.bod-popup-box.animation_scaleDown.active .bod-popup-box-h {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.bod-popup-box.animation_slideTop .bod-popup-box-h {
  -webkit-transform: translateY(-20%);
  transform: translateY(-20%);
  opacity: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
.bod-popup-box.animation_slideTop.active .bod-popup-box-h {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}
.bod-popup-box.animation_slideBottom .bod-popup-box-h {
  -webkit-transform: translateY(20%);
  transform: translateY(20%);
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.bod-popup-box.animation_slideBottom.active .bod-popup-box-h {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
.bod-popup-box.animation_flipHor {
  -webkit-perspective: 1300px;
  -moz-perspective: 1300px;
  perspective: 1300px;
}
.bod-popup-box.animation_flipHor .bod-popup-box-h {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateY(-70deg);
  transform: rotateY(-70deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}
.bod-popup-box.animation_flipHor.active .bod-popup-box-h {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  opacity: 1;
}
.bod-popup-box.animation_flipVer {
  -webkit-perspective: 1300px;
  -moz-perspective: 1300px;
  perspective: 1300px;
}
.bod-popup-box.animation_flipVer .bod-popup-box-h {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(-70deg);
  transform: rotateX(-70deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}
.bod-popup-box.animation_flipVer.active .bod-popup-box-h {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  opacity: 1;
}
html.cloverlay_fixed {
  overflow: hidden;
}
